<div ng-include src="'./views/handleFoundRecDialog.html'"></div>
<div class="row col col-md-12">
    <accordion close-others="oneAtATime" style="background-color: #d9edf7;">
        <accordion-group heading="人気の図案を見る" is-open="status.isFirstOpen"
                         is-disabled="status.isFirstDisabled">
            <div id="popularDesignDiv" class="col col-md-12" style="height:160px;">
                <div ng-repeat="(idx, popRec) in popRecs" ng-click="handleFoundRec(popRec)"
                     style="display: inline-block; width:150px;">
                    <div style="position: absolute; top: 0px; left:{{idx * 150}}px; width: 130px; word-wrap: break-word;">
                        {{popRec.name}}
                        <br/>
                        {{popRec.authorNickname}}
                        <br/>
                        <span class="glyphicon glyphicon-star">
                            {{popRec.favoriteCnt}}
                        </span>
                    </div>
                    <div ng-repeat="popBeads in popRec.data">
                        <div ng-repeat="popBead in popBeads">
                            <div class="s_circle s_{{popBead.color}}"
                                 style="position: absolute; top:{{popBead.top + 70}}px; left:{{popBead.left + idx * 150}}px;">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <pagination boundary-links="true" total-items="page.totalItems" ng-model="page.currentPage"
                        items-per-page="page.itemsPerPage" ng-change="pageChanged()"
                        class="pagination-sm" previous-text="&lsaquo;" next-text="&rsaquo;" first-text="&laquo;" last-text="&raquo;">
            </pagination>
        </accordion-group>
    </accordion>
</div>

<form name="mainForm" novalidate>
    <span>{{message}}</span>
    <br/>
    <label>名称で検索(前方一致)</label>
    <input type="text" class="form-control" ng-model="cond.name" required/>
    <br/>
    <label>タグで検索</label>
    <input type="text" class="form-control" ng-model="cond.tag" required/>
    <br/>
    <input type="button" class="btn btn-primary" value="検索" ng-click="find(cond.name, cond.tag)"/>
</form>

<div class="row col col-md-12">

    <pagination boundary-links="true" total-items="page.totalItems" ng-model="page.currentPage"
                items-per-page="page.itemsPerPage" ng-change="pageChanged()"
                class="pagination-sm" previous-text="&lsaquo;" next-text="&rsaquo;" first-text="&laquo;"
                last-text="&raquo;">
    </pagination>
    <div id="saveDiv" class="col col-md-12" style="height:160px;">
        <div ng-repeat="(idx, foundRec) in foundRecs" ng-click="handleFoundRec(foundRec)"
             style="display: inline-block; width:150px;">
            <div style="position: absolute; top:{{calcTop(0, idx)}}px; left:{{calcLeft(0, idx)}}px; width: 130px; word-wrap: break-word;">
                {{foundRec.name}}
                <br/>
                {{foundRec.authorNickname}}
                <br/>
                <span class="glyphicon glyphicon-star">
                    {{foundRec.favoriteCnt}}
                </span>
            </div>
            <div ng-repeat="beads in foundRec.data">
                <div ng-repeat="bead in beads">
                    <div class="s_circle s_{{bead.color}}"
                         style="position: absolute; top:{{calcTop(bead.top, idx) + 60}}px; left:{{calcLeft(bead.left, idx)}}px;">
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="row col col-md-12" ng-dblclick="open('sm')" style="position: relative">
    <div ng-repeat="beads in beadsList track by $index">
        <div ng-repeat="bead in beads track by $index">
            <div class="circle {{bead.color}}" ng-click="changeColor(bead)"
                 style="position: absolute; top:{{bead.top}}px; left:{{bead.left}}px;">
            </div>
        </div>
    </div>
</div>

