<div>
  <script type="text/ng-template" id="handleFoundRecDialog.tmpl.html">
    <div class="modal-header">
      <div>
      <span class="label label-info">図案名</span>
      <h4>{{foundRec.name}}</h4>
      </div>
      <div ng-if="foundRec.authorNickname">
        <span class="label label-info">作者</span>
        <h4>{{foundRec.authorNickname}}</h4>
      </div>
      <div>
        <input type="button" class="btn btn-primary" value="お気に入りに追加" ng-click="addFavorite()" ng-if="!foundRec.favoriteOne"/>
        <input type="button" class="btn btn-danger" value="お気に入りを解除" ng-click="removeFavorite()" ng-if="foundRec.favoriteOne"/>
        <input type="button" class="btn btn-default" value="キャンセル" ng-click="cancel()"/>
      </div>
    </div>
    <div class="modal-body">

      <div style="height: 500px;">
        <div style="position: absolute; top:0; left:0; height: 480px; width: 480px; background-color: white;">
          <div ng-repeat="foundBeads in foundRec.data">
            <div ng-repeat="foundBead in foundBeads">
              <div class="circle {{foundBead.color}}"
                   style="position: absolute; top:{{foundBead.top + 20}}px; left:{{foundBead.left + 40}}px;">
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </script>
</div>
